    <div class="error_page_header">
        <div class="uk-width-8-10 uk-container-center">
            403!
        </div>
    </div>
    <div class="error_page_content">
        <div class="uk-width-8-10 uk-container-center">
            <p class="heading_b">Permission denied!</p>
            <p class="uk-text-large">
            	You are not Unauthorized to access this URL <span class="uk-text-muted">/some_url</span>.
            </p>
            <a ui-sref="{{defaultPage}}">Go to Home</a>
        </div>
    </div>