<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head lang="en">

<title>Spring Framework Guru</title>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">

<link href="http://cdn.jsdelivr.net/webjars/bootstrap/3.0.3/css/bootstrap.min.css" th:href="@{/webjars/bootstrap/3.0.3/css/bootstrap.min.css}" rel="stylesheet" media="screen" />
<link href='http://fonts.googleapis.com/css?family=Open+Sans' rel='stylesheet' type='text/css' />
<script	src="http://cdn.jsdelivr.net/webjars/jquery/jquery:2.2.1/jquery.min.js"	th:src="@{/webjars/jquery/jquery:2.2.1/jquery.min.js}"></script>
<link href="../static/css/merchant-register.css" th:href="@{css/merchant-register.css}" rel="stylesheet" media="screen"/>

</head>
<body>
	<div class="container">
	 <div class="row  pad-top">
       <div class="col-md-6 col-md-offset-6 col-sm-6 col-sm-offset-3 col-xs-10 col-xs-offset-1">
		<div class="panel panel-default">
            <div class="panel-heading">
            <strong> Merchant Bank Details</strong>  
              </div>
           <div class="panel-body">
			<form action="#" th:action="@{/bankDetails}" th:object="${bankDetailsModel}" method="post" data-toggle="validator" role="form">
			<!-- <div class="col-lg-6"> -->
			  <div class="form-group">
				<label for="AccountHolderName">Account Holder Name</label>
				<div class="input-group">
				<input type="text" th:field="*{accHolderName}" class="form-control" placeholder="Please Enter Name" required="required"/>
				<span class="input-group-addon"><span class="glyphicon glyphicon-asterisk"></span></span> 
				</div> 
				</div> 
				 <div class="form-group">
                    <label for="accountNumber">Account Number</label>
                    <div class="input-group">
                       <input type="text" th:field="*{accountNumber}" class="form-control" placeholder="Please Enter Account Number" required="required"/>
                       <span class="input-group-addon"><span class="glyphicon glyphicon-asterisk"></span></span> 
                    </div>
                </div>
                
                <div class="form-group">
                    <label for="retypeAccNumber">Retype Account Number</label>
                    <div class="input-group">
                       <input type="text" th:field="*{accountNumber}" class="form-control" placeholder="Please Retype Account Number" required="required"/>
                       <span class="input-group-addon"><span class="glyphicon glyphicon-asterisk"></span></span> 
                    </div>
                </div>
                
                 <div class="form-group">
                    <label for="ifscCode">IFSC Code</label>
                    <div class="input-group">
                       <input type="text" th:field="*{ifscCode}" class="form-control" placeholder="Please Enter IFSC Code" required="required"/>
                       <span class="input-group-addon"><span class="glyphicon glyphicon-asterisk"></span></span> 
                    </div>
                </div>
                
               <div class="form-group">
                    <label for="bankName">Bank Name</label>
                    <div class="input-group">
                       <input type="text" th:field="*{bankName}" class="form-control" placeholder="Please Enter Bank Name" required="required"/>
                       <span class="input-group-addon"><span class="glyphicon glyphicon-asterisk"></span></span> 
                    </div>
                </div>
              
              <div class="form-group">
                    <label for="state">State</label>
                    <div class="input-group">
                       <input type="text" th:field="*{state}" class="form-control" placeholder="Please Enter State" required="required"/>
                       <span class="input-group-addon"><span class="glyphicon glyphicon-asterisk"></span></span> 
                    </div>
                </div>
                
                  <div class="form-group">
                    <label for="city">City</label>
                    <div class="input-group">
                       <input type="text" th:field="*{city}" class="form-control" placeholder="Please Enter City" required="required"/>
                    	<span class="input-group-addon"><span class="glyphicon glyphicon-asterisk"></span></span> 
                    </div>
                </div>
                
                 <div class="form-group">
                    <label for="branch">Branch</label>
                    <div class="input-group">
                       <input type="text" th:field="*{branch}" class="form-control" placeholder="Please Enter Branch" required="required"/>
                       <span class="input-group-addon"><span class="glyphicon glyphicon-asterisk"></span></span> 
                    </div>
                </div>
                 <input type="submit" name="submit" id="submit" value="Save" class="btn btn-success pull-right">
          <!--   </div>   -->  
			</form>
		  </div>
      </div> 
     </div> 
   </div>
  </div>
</body>
</html>