<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head lang="en">

<title>Spring Framework Guru</title>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">

<link href="http://cdn.jsdelivr.net/webjars/bootstrap/3.0.3/css/bootstrap.min.css" th:href="@{/webjars/bootstrap/3.0.3/css/bootstrap.min.css}" rel="stylesheet" media="screen" />
<link href='http://fonts.googleapis.com/css?family=Open+Sans' rel='stylesheet' type='text/css' />
<script	src="http://cdn.jsdelivr.net/webjars/jquery/jquery:2.2.1/jquery.min.js"	th:src="@{/webjars/jquery/jquery:2.2.1/jquery.min.js}"></script>
<link href="../static/css/merchant-register.css" th:href="@{css/merchant-register.css}" rel="stylesheet" media="screen"/>

</head>
<body>
	<div class="container">
	 <div class="row  pad-top">
       <div class="col-md-6 col-md-offset-6 col-sm-6 col-sm-offset-3 col-xs-10 col-xs-offset-1">
		<div class="panel panel-default">
            <div class="panel-heading">
            <strong> Merchant  Registeration</strong>  
              </div>
           <div class="panel-body">
			<form action="#" th:action="@{/register}" th:object="${registerModel}" method="post" data-toggle="validator" role="form">
			<!-- <div class="col-lg-6"> -->
			<!-- <h2 class="form-signin-heading">Register</h2> -->
			  <div class="form-group">
				<label for="InputName">Enter Name</label>
				<div class="input-group">
				<span class="input-group-addon"><i class="fa fa-circle-o-notch"  ></i></span>
				<input type="text" th:field="*{fullName}" class="form-control" placeholder="Enter Name" required="required"/>
				<span class="input-group-addon"><span class="glyphicon glyphicon-asterisk"></span></span> 
				</div> 
				</div> 
				 <div class="form-group">
                    <label for="InputEmail">Enter Email</label>
                    <div class="input-group">
                       <span class="input-group-addon">@</span>
                       <input type="text" th:field="*{email}" class="form-control" placeholder="Enter Email" required="required"/>
                        <span class="input-group-addon"><span class="glyphicon glyphicon-asterisk"></span></span>
                    </div>
                </div>
                <div class="form-group">
                    <label for="InputMobile">Enter Mobile</label>
                    <div class="input-group">
                       <span class="input-group-addon"><i class="fa fa-circle-o-notch"  ></i></span>
                       <input type="text" th:field="*{mobile}" class="form-control" placeholder="Enter Mobile" required="required"/>
                        <span class="input-group-addon"><span class="glyphicon glyphicon-asterisk"></span></span>
                    </div>
                </div>
                
                 <div class="form-group">
                    <label for="InputPassword">Enter Password</label>
                    <div class="input-group">
                       <span class="input-group-addon"><i class="fa fa-lock"  ></i></span>
                       <input type="password" th:field="*{password}" class="form-control" placeholder="Enter Password" required="required"/>
                        <span class="input-group-addon"><span class="glyphicon glyphicon-asterisk"></span></span>
                    </div>
                </div>
                
                <div class="form-group">
                    <label for="ConfirmPassword">Confirm Password</label>
                    <div class="input-group">
                       <span class="input-group-addon"><i class="fa fa-lock"  ></i></span>
                       <input type="password" th:field="*{password}" class="form-control" placeholder="Confirm Password" required="required"/>
                        <span class="input-group-addon"><span class="glyphicon glyphicon-asterisk"></span></span>
                    </div>
                </div>
                
                 <input type="submit" name="submit" id="submit" value="Register" class="btn btn-success pull-right">
          <!--   </div>   -->  
			</form>
		  </div>
      </div> 
     </div> 
   </div>
  </div>
</body>
</html>