<div id="page_content">
    <div id="page_content_inner">

        <div class="md-card">
            <div class="md-card-content">
                <h3 class="heading_a">General Details</h3>
                <div class="uk-grid" data-uk-grid-margin>
                   	 <div class="uk-width-medium-1-2">
                        <input type="text" selectize config="product.config" options="product.options" ng-model="productDetail.product.id" />
                    </div>
                    
                    <div class="uk-width-medium-1-4">
                        <input type="checkbox" class="switchery" ui-switch ng-model="productDetail.isDiscountable" id="isDiscountable" />
                        <label for="isDiscountable" class="inline-label">Discountable ? </label>
                    </div>
                     <div class="uk-width-medium-1-4">
                        <input type="checkbox" class="switchery" ui-switch ng-model="productDetail.isFeaturedProduct" id="isFeaturedProduct" />
                        <label for="isFeaturedProduct" class="inline-label">FeaturedProduct ?</label>
                    </div>
                </div>
                
                <div class="uk-grid">
                    <div class="uk-width-1-1">
                        <div class="uk-form-row">
                            <label>Description</label>
                            <textarea ui-tinymce="tinymce_options" cols="30" rows="15" ng-model="productDetail.description"></textarea>
                        </div>
                    </div>
                </div>
                
                
                <div>
                	{{productDetail}}
                </div>
            </div>
        </div>


        
        
        
          <div class="md-card">
            <div class="md-card-content">
                <h3 class="heading_a">Price / Shipping</h3>
                <div class="uk-grid" data-uk-grid-margin>
                    <div class="uk-width-medium-1-4">
                        <label for="masked_currency">Retail Price * </label>
                        <input class="md-input masked_input" id="masked_currency" type="text" data-inputmask="'alias': 'numeric', 'groupSeparator': ',', 'autoGroup': true, 'digits': 2, 'digitsOptional': false, 'prefix': '$ ', 'placeholder': '0'" data-inputmask-showmaskonhover="false" md-input />
                    </div>
                    
                    <div class="uk-width-medium-1-4">
                        <label for="masked_currency">Sale Price </label>
                        <input class="md-input masked_input" id="masked_currency" type="text" data-inputmask="'alias': 'numeric', 'groupSeparator': ',', 'autoGroup': true, 'digits': 2, 'digitsOptional': false, 'prefix': '$ ', 'placeholder': '0'" data-inputmask-showmaskonhover="false" md-input />
                    </div>
                    
                    <div class="uk-width-medium-1-4">
                        <input type="text" config="inventory_type.config" options="inventory_type.options" ng-model="product.inventoryType" name="product.inventoryType" selectize />
                    </div>
                     <div class="uk-width-medium-1-4">
                        <input type="text" config="fulfillment_type.config" options="fulfillment_type.options" ng-model="product.fulfillmentType" name="product.fulfillmentType" selectize />
                    </div>
                    
                </div>
                
            </div>
        </div>
       
       
        <div class="md-card">
             <div class="md-card-toolbar">
                 <div class="md-card-toolbar-actions">
                   		   <div class="uk-float-left">
                                  	<i class="md-icon material-icons md-color-blue-grey-500">&#xE0C8;</i>
                         			<i class="md-icon material-icons md-color-light-blue-500">&#xE88F;</i>
                        			<i class="md-icon material-icons md-color-red-500">&#xE80E;</i>
                           </div>
                   		
                   		
                   		
                     <ul class="uk-tab" data-uk-tab="{connect:'#card_tabs',animation:'slide-horizontal'}">
                         <li class="uk-active"><a href="#">Active</a></li>
                         <li><a href="#">Item 1</a></li>
                         <li><a href="#">Item 2</a></li>
                     </ul>
                     
                      
                 </div>
                 <h3 class="md-card-toolbar-heading-text heading_a">
                     Product Details
                 </h3>
             </div>
             <div class="md-card-content">
                 <ul id="card_tabs" class="uk-switcher uk-margin">
                     <li>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Atque consequatur dolore doloribus ducimus est ex facere fugiat impedit ipsum iure laborum magni minus nam nostrum optio pariatur quisquam, sapiente ut?</li>
                     <li>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Alias aliquam animi aspernatur dolore dolorem doloribus eius fugiat id impedit ipsum nam nemo, nisi nulla obcaecati odio officiis placeat quasi quia repellat tempore veritatis vero, voluptas? Facilis incidunt odit quam similique.</li>
                     <li>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Alias amet atque beatae consequuntur delectus deleniti dolor eaque eligendi enim, et eum, exercitationem fugit, harum ipsam iure minus necessitatibus neque officiis optio quaerat quam quasi recusandae vitae voluptas voluptates? Ad aspernatur atque autem beatae, blanditiis cupiditate debitis doloribus et excepturi laborum magnam porro praesentium quae quaerat quisquam sapiente sint? Dicta, fugiat!</li>
                 </ul>
             </div>
         </div>
        
         <div class="md-card">
            <div class="md-card-content">
                <h3 class="heading_a">UI Configuration</h3>
                <div class="uk-grid" data-uk-grid-margin>
                    <div class="uk-width-medium-1-2">
                        <label>Template</label>
                        <input type="text" class="md-input"  md-input ng-model="category.template" />
                    </div>
                     <div class="uk-width-medium-1-2">
                        <input type="text" config="banner.config" options="banner.options" ng-model="category.bannerId" name="category.bannerId" selectize />
                    </div>
                </div>
                
            </div>
        </div>
        
    </div>
</div>
