<!DOCTYPE html>
<html>
<head>
<!-- Basic -->
<meta charset="utf-8">
<title>WellDone - Responsive HTML5 Template 1.0.0</title>
<meta name="keywords" content="HTML5 Template" />
<meta name="description" content="WellDone - Responsive HTML5 Template">
<meta name="author" content="etheme.com">
<link rel="shortcut icon" href="favicon.ico">
<!-- Mobile Specific Metas -->
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<!-- Web Fonts  -->
<link href="http://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700,800%7CShadows+Into+Light" rel="stylesheet" type="text/css">
<!-- Icon Fonts  -->
<link rel="stylesheet" href="font/style.css">
<!-- Vendor CSS -->
<link rel="stylesheet" href="vendor/waves/waves.css">
<link rel="stylesheet" href="vendor/slick/slick.css">
<link rel="stylesheet" href="vendor/slick/slick-theme.css">
<link rel="stylesheet" href="vendor/bootstrap-select/bootstrap-select.css">
<!-- Custom CSS -->
<link rel="stylesheet" href="css/style.css">
<link rel="stylesheet" href="css/style-colors.css">
<!-- Custom Fonts -->
<link href='https://fonts.googleapis.com/css?family=Roboto:400,300,300italic,400italic,700,700italic' rel='stylesheet' type='text/css'>
<link href='https://fonts.googleapis.com/css?family=Ubuntu:400,700' rel='stylesheet' type='text/css'>

<!-- Head Libs -->

<!--[if IE]>
        <link rel="stylesheet" href="css/ie.css">
        <![endif]-->
<!--[if lte IE 8]>
        <script src="http://cdnjs.cloudflare.com/ajax/libs/respond.js/1.3.0/respond.js"></script>
        <script src="http://cdnjs.cloudflare.com/ajax/libs/html5shiv/3.7/html5shiv.js"></script>
        <![endif]-->

<!-- Modernizr -->
<script src="vendor/modernizr/modernizr.js"></script>
</head>

<body>
<div id="loader-wrapper" class="loader-off">
<div id="loader"></div>
</div>
<div class="wrapper"> 
  <!-- Header section -->
  <header class="header header--only-logo header--fill">
    <div class="container"> 
      <!--  Logo  -->          <a class="logo" href="index.html">
          	<img class="logo-default" src="images/logo.png" alt=""/> 
          	<img class="logo-mobile" src="images/logo-mobile.png" alt=""/> 
          	<img class="logo-transparent" src="images/logo-transparent.png" alt=""/> 
          </a> 
<!-- End Logo --> 
    </div>
  </header>
  <div id="pageContent"> 
    
    <!-- Content section -->
    
    <section class="content content--fill top-null">
      <div class="container">
        <h2 class="h-pad-sm text-uppercase text-center">Create an Account</h2>
        <h6 class="text-uppercase text-center">Please enter the following information to create your account.</h6>
        <div class="divider divider--sm"></div>
        <div class="row">
          <div class="col-md-4 col-md-offset-4 col-sm-6 col-sm-offset-3">
            <div class="card card--form">
              <div class="divider divider--xs"></div>
              <form action="#" class="contact-form">
                <h6 class="text-uppercase text-left">Personal Information</h6>
                <input type="text" class="input--wd input--wd--full" placeholder="First name *">
                <input type="text" class="input--wd input--wd--full" placeholder="Last name *">
                <input type="text" class="input--wd input--wd--full" placeholder="Email address *">
                <div class="checkbox-group">
                  <input type="checkbox" id="checkBox1">
                  <label for="checkBox1"> <span class="check"></span> <span class="box"></span>Sign Up for Newsletter</label>
                </div>
                <div class="divider divider--xs"></div>
                <h6 class="text-uppercase text-left">Login Information</h6>
                <input type="password" class="input--wd input--wd--full" placeholder="Password *">
                <input type="password" class="input--wd input--wd--full" placeholder="Confirm password *">
                <div class="checkbox-group">
                  <input type="checkbox" id="checkBox2">
                  <label for="checkBox2"> <span class="check"></span> <span class="box"></span>Remember Me</label>
                </div>
                <div class="divider divider--xs"></div>
                <button type="submit" class="btn btn--wd text-uppercase wave">Submit</button>
              </form>
              <div class="card--form__footer"> <a href="#">&lt;&nbsp;Back</a> </div>
            </div>
          </div>
        </div>
        <div class="divider divider--xl"></div>
      </div>
    </section>
    
    <!-- End Content section --> 
  </div>
</div>
<!-- Vendor --> 
<!-- jQuery 1.10.1--> 
<script src="vendor/jquery/jquery.js"></script> 
<!-- Bootstrap 3--> 
<script src="vendor/bootstrap/bootstrap.min.js"></script> 
<!-- Specific Page Vendor --> 
<script src="vendor/waves/waves.min.js"></script> 
<script src="vendor/slick/slick.min.js"></script> 
<script src="vendor/bootstrap-select/bootstrap-select.min.js"></script> 
<script src="vendor/parallax/jquery.parallax-1.1.3.js"></script> 
<script src="vendor/waypoints/jquery.waypoints.min.js"></script> 
<script src="vendor/waypoints/sticky.min.js"></script> 
<script src="vendor/doubletaptogo/doubletaptogo.js"></script> 
<script src="vendor/elevatezoom/jquery.elevatezoom.js"></script> 
<script src="vendor/imagesloaded/imagesloaded.pkgd.min.js"></script><script src="vendor/countdown/jquery.plugin.min.js"></script> 
<script src="vendor/countdown/jquery.countdown.min.js"></script> 
<!-- jQuery form validation --> 
<script src="vendor/form/jquery.form.js"></script> 
<script src="vendor/form/jquery.validate.min.js"></script> 
<!-- Custom --> 
<script src="js/custom.js"></script> 
</body>
</html>